body{
    background: url(../img/retina_wood.jpg);
    background-color:rgba(255,255,255,.5);
    font-family: 'Josefin Sans', Arial, sans-serif;
}

.wrapper{
    width:1040px;
    margin:0 auto;
}

.wrapper > *{
    margin:20px;
}

h1, h2, h3{
    font-family: 'Pacifico', cursive;
    color:#917042;
}

h4, h5, h6{
    color:#b0b3b5;
}

h1{

    font-size:3.8rem;
}

h2{
    font-size:2.5rem;
    font-weight:normal;
    line-height:3rem;
    margin: .7rem 0;
}


h4{
    font-size:2.44rem;
    font-weight:900;
}

p{
    font-size:1.4rem;
    padding-left:.5rem;
}

.hide{
    display:none;
}

header {
    padding:26px 0 3px 0;
    position: relative;
    height:157px;
}

#logo{
    text-shadow: .3rem .3rem .5rem rgba(0, 0, 0, .4);
    position: relative;
    margin:0 0 0 50px;
    line-height:5rem;
}

#logo span{
    position: absolute;
    z-index: 4;
    display: inline-block;
    line-height: 40px;
    bottom: 18px;
}

#logo span.growS{
    transform: scale(1) !important;
    color: #246A36;
    transition: 1s ease-in-out;
}

#logo span.green{
    color: #246A36;
}

#logo canvas{
    position:absolute;
    top:23px;
    left:237px;
}

#logoTag{
    display: none;
    margin:0 0 0 67px;
    padding:5px 20px 0 20px;
    border-top: 2px solid #b0b3b5;
}

#logoTag.nojQuery{
    display: inline-block;
    opacity:0;
}

#logoTag.fadeIn{
    opacity: 1;
    transition: 1s ease-in-out;
}

#logoTag.noCSSTrans{
    display:inline-block;
}

#phoneNum{
    position:absolute;
    right:60px;
    top:65px;
    font-size:3rem;
    margin:0;
}

#headerVid{
    border-top:3px solid #b0b3b5;
    border-bottom: 3px solid #b0b3b5;
    position:absolute;
    top:0;
    left:0;
    margin:0;
    padding:0;
    z-index:-10;
}

#flowerVidCanvas{
    opacity:.1;
    display:block;
}

.wrapper > main{
    margin:40px auto;
    width:940px;
    background-color: #e1e4e6;
    border-radius: 10px;
    padding:20px;
}

main > section:not(:first-of-type) > h2 {
    margin-top:1.9rem;
}